@font-face {
  font-family: 'luganskiV';
  src: url("/asstes/fonts/luganskiyv-webfont.woff2") format("woff2"), url("/asstes/fonts/luganskiyv-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'proxima nova';
  src: url("/assets/fonts/proxima_nova_bold-webfont.woff2") format("woff2"), url("/assets/fonts/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'overpass';
  src: url("/asstes/fonts/overpass-mono-regular.woff2") format("woff2"), url("/asstes/fonts/overpass-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  height: 100%; }

body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0;
  font-family: luganskiV, Helvetica, sans-serif; }

.main {
  background-color: #fff;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative; }

code {
  font-family: overpass, Helvetica, sans-serif;
  background-color: #e8e8e8;
  border: 1px solid #d0cfcf;
  border-radius: 3px;
  font-size: 11px;
  line-height: 31px;
  padding: 8px 10px 5px 10px; }

button, input[type="submit"] {
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: #b0a38b;
  display: inline-block;
  padding: 1em 4em;
  text-transform: uppercase;
  text-decoration: none;
  color: #b0a38b;
  font-size: 19px;
  font-weight: 400;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s;
  cursor: pointer; }
  button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    outline: none; }
  button:hover, input[type="submit"]:hover {
    box-shadow: inset 0px 0px 0px 1px #b0a38b; }
  button:active, input[type="submit"]:active {
    background-color: #b0a38b;
    color: #262626; }
  button:disabled, input[type="submit"]:disabled {
    background-color: transparent;
    color: #3d4545;
    border-color: #404545;
    cursor: not-allowed; }
    button:disabled:hover, input[type="submit"]:disabled:hover {
      box-shadow: inset 0px 0px 0px 0px #b0a38b; }

.top {
  padding: 25px 40px;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5); }
  .top .bar {
    overflow: hidden; }
    .top .bar .name, .top .bar #settings_toggler {
      margin: 10px; }
    .top .bar .name {
      font-family: luganskiV, Helvetica, sans-serif;
      font-size: 30px;
      color: #4b4b4b;
      float: left; }
    .top .bar #settings_toggler {
      float: right; }
  .top #gradient_settings > section {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #d0cfcf; }
  .top .settings {
    overflow: hidden; }
    .top .settings input[type="radio"] {
      position: relative;
      height: 20px;
      width: 20px;
      vertical-align: middle; }
      .top .settings input[type="radio"]:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #f2bcff;
        background-image: inherit; }
      .top .settings input[type="radio"]:checked:before {
        box-shadow: 0px 0px 2px 2px #acacff; }
      .top .settings input[type="radio"][name="direction"]:before {
        background-image: url("../../images/arrow.png");
        background-size: contain;
        background-color: #fff; }
      .top .settings input[type="radio"][name="easing"]:before {
        background-color: #fff; }
    .top .settings input[type="text"] {
      vertical-align: middle;
      font-family: overpass;
      background-color: #f9f9f9;
      border: 1px solid #d0cfcf;
      border-radius: 3px;
      font-size: 11px;
      line-height: 11px;
      padding: 6px 10px 3px 10px;
      box-sizing: border-box;
      width: 100%; }
    .top .settings .title {
      width: 20%;
      float: left; }
    .top .settings .subtitle {
      font-size: 12px;
      color: #4b4b4b;
      display: block;
      width: 100%; }
    .top .settings .options {
      width: 40%;
      float: left; }
    .top .settings .custom {
      width: 40%;
      float: left; }
    .top .settings button, .top .settings input[type="submit"] {
      margin: 20px auto 0;
      display: block; }
    .top .settings #currentGradientString {
      width: 100%; }
    .top .settings .easing .title {
      width: 100%; }
    .top .settings .easing ul {
      list-style: none; }
    .top .settings .easing input[type="radio"]:before {
      display: none; }

.canvas {
  background-color: #ddd;
  padding: 25px 40px;
  box-sizing: border-box;
  background-image: linear-gradient(to left, #2C3E50, #FD746C);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0; }
  .canvas button:nth-child(2) {
    position: absolute;
    top: 40%;
    right: 25px; }
  .canvas button:nth-child(3) {
    position: absolute;
    top: 60%;
    right: 25px; }

footer {
  position: relative;
  background-color: #252525;
  padding: 25px 40px;
  box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex; }
  footer .logo {
    height: 70px;
    width: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
  footer .git-link {
    height: 70px;
    width: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    text-align: right; }
  footer button {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    margin: 0 15px; }
  footer img {
    max-width: 100%;
    max-height: 100%; }

/*# sourceMappingURL=style.css.map */
