html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-content: stretch;
  margin: 0;
  font-family: luganskiV, Helvetica, sans-serif;
}
.main {
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
code {
  font-family: overpass, Helvetica, sans-serif;
  background-color: #e8e8e8;
  border: 1px solid #d0cfcf;
  border-radius: 3px;
  font-size: 11px;
  line-height: 31px;
  padding: 8px 10px 5px 10px;
}
button, input[type="submit"] {
  @include button();
}