@font-face {
  font-family: 'luganskiV';
  src: url('/asstes/fonts/luganskiyv-webfont.woff2') format('woff2'),
  url('/asstes/fonts/luganskiyv-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima nova';
  src: url('/assets/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('/asstes/fonts/overpass-mono-regular.woff2') format('woff2'),
  url('/asstes/fonts/overpass-mono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
