@font-face {
  font-family: 'snicklesregular';
  src: url('../fonts/Snickles-webfont.eot');
  src: url('../fonts/Snickles-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Snickles-webfont.woff') format('woff'),
  url('../fonts/Snickles-webfont.ttf') format('truetype'),
  url('../fonts/Snickles-webfont.svg#snicklesregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'overpass-mono';
  src: url('../fonts/overpass-mono-regular.eot');
  src: url('../fonts/overpass-mono-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/overpass-mono-regular.woff2') format('woff2'),
  url('../fonts/overpass-mono-regular.woff') format('woff'),
  url('../fonts/overpass-mono-regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'acherus_grotesqueregular';
  src: url('../fonts/acherus_grotesque_-_regular-webfont.eot');
  src: url('../fonts/acherus_grotesque_-_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
  url('../fonts/acherus_grotesque_-_regular-webfont.woff') format('woff'),
  url('../fonts/acherus_grotesque_-_regular-webfont.ttf') format('truetype'),
  url('../fonts/acherus_grotesque_-_regular-webfont.svg#acherus_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
